header {
    background-color: #7fa3c7;
    color: white;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: #7fa3c7;
}

header main footer {
    width: 840px;
    margin: 0 auto;
}

h1, h2{
 front-family: 'Trebuchet MS', sans-serif;
 color: #7fa3c7;
}

nav, p , section,article{
    margin: 16px ;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.hero{
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1{
    position: absolute;
    top: 20%;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: #000000;
    color: white;
}

.hero article img {
    float: right;
    width: 160px;
}
